
@tailwind base;
@tailwind components;
@tailwind utilities;

.andt-btn{
  
}

*::-webkit-scrollbar {
  display: none;
}

#root{
  height: 100vh;
}

* {
  box-sizing: border-box;
  
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
